# python compile output
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
*.eggs
dist
pip-wheel-metadata
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
coverage_html_report/

# Sphinx
docs/_build

# vim noise
*~
*.sw?

